$special-green: #45852d;
$special-orange: #ec6608;
$basic-black: #000000;
$basic-white: #ffffff;
$special-blue: #006f79;
$special-black: #363636;
$basic-grey: #F8F8F8;
$special-grey: #D8D8D8;
$dark-grey: #363636;
$basic-red: #b43434;


$mobile-width: 320px;
$tablet-width: 768px;
